---
name: Swift

on:
  push:
    branches: [
      main
    ]
  pull_request:
    branches: [
      main
    ]

permissions:
  contents: read

jobs:
  build:
    name: "WMATAUI unit tests"

    strategy:
      matrix:
        destination: [
          "'platform=macOS,variant=Mac Catalyst'",
          "'platform=macOS'",
          "'platform=tvOS Simulator,name=Apple TV,OS=26.0'",
          "'platform=iOS Simulator,name=iPhone 16,OS=26.0'",
          "'platform=watchOS Simulator,name=Apple Watch SE (40mm) (2nd generation),OS=26.0'"
        ]
    runs-on: macos-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 50
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      #- name: Set Xcode version
      #  run: sudo xcode-select -s /Applications/Xcode_13.2.1.app
      - name: Build
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: xcodebuild build -scheme WMATAUI -destination ${{ matrix.destination }}
        # run: swift build -v
      - name: Run tests
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: |
          xcodebuild test -scheme WMATAUI -destination ${{ matrix.destination }} -enableCodeCoverage YES
          xcrun llvm-cov export --format="lcov" --instr-profile=$( echo ~/Library/Developer/Xcode/DerivedData/WMATAUI-*/Build/ProfileData/*/Coverage.profdata ) --object=$( echo ~/Library/Developer/Xcode/DerivedData/WMATAUI-*/Build/Products/Debug*/WMATAUI.o ) > coverage.lcov
        # run: swift test -v
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: coverage.lcov
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
