---
name: Swift

on:
  push:
    branches: [
      main
    ]
  pull_request:
    branches: [
      main
    ]

jobs:
  build:
    name: "WMATAUI unit tests"

    strategy:
      matrix:
        destination: [
          "'platform=macOS,variant=Mac Catalyst'"
        ]
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: xcodebuild build -scheme WMATUI -destination ${{ matrix.destination }}
        # run: swift build -v
      - name: Run tests
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: xcodebuild test -scheme WMATAUI -destination ${{ matrix.destination }}
        # run: swift test -v
