---
name: Swift

on:
  push:
    branches: [
      main
    ]
  pull_request:
    branches: [
      main
    ]

permissions:
  contents: read

jobs:
  build:
    name: "WMATAUI unit tests"

    strategy:
      matrix:
        destination: [
          "'platform=iOS Simulator,name=iPhone 16,OS=26.1'",
          "'platform=macOS'",
          "'platform=macOS,variant=Mac Catalyst'",
          "'platform=tvOS Simulator,name=Apple TV,OS=26.1'",
          "'platform=visionOS Simulator,name=Apple Vision Pro,OS=26.1'",
          "'platform=watchOS Simulator,name=Apple Watch SE (40mm) (2nd generation),OS=26.1'"
        ]
    runs-on: macos-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 50
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      #- name: Set Xcode version
      #  run: sudo xcode-select -s /Applications/Xcode_13.2.1.app
      - name: Build
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: xcodebuild build -scheme WMATAUI -destination ${{ matrix.destination }}
        # run: swift build -v
      - name: Run tests
        # Using swift would be preferred, but using xcodebuild as it allows
        # the specification of variants, which the swift command does not
        run: |
          xcodebuild test -scheme WMATAUI -destination ${{ matrix.destination }} -enableCodeCoverage YES
          xcrun llvm-cov export --format="lcov" --instr-profile=$( echo ~/Library/Developer/Xcode/DerivedData/WMATAUI-*/Build/ProfileData/*/Coverage.profdata ) --object=$( echo ~/Library/Developer/Xcode/DerivedData/WMATAUI-*/Build/Products/Debug*/WMATAUI.o ) > coverage.lcov
        # run: swift test -v
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: coverage.lcov
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
